<h1>{{user.name}}</h1>
<img src="/images/user.avif" width="100" alt="">
<hr>
<p>
    <b>Email:</b>
    {{user.email}}
</p>
<p>
    <b>Phone:</b>
    {{user.phone}}
</p>
<p>
    <b>City:</b>
    {{user.address.city}}
</p>
<br>
<a href="/">Back</a>